.container {
  display: flex;

}


#container1,
#container2,
#container3 {
  background-color: lightgrey;
  height: 300px;
  width: 60%;
  border-radius: 8px;
  padding: 20px;
  display: none;

}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6 {
  height: 100px;
  width: 100px;
  margin-left: 40%;
  display: none;
}

#div1 {
  background-color: blue;
}

#div2 {
  background-color: black;
}

#div3 {
  background-color: purple;
}

#div4 {
  background-color: green;
}

#div5 {
  background-color: orange;
}

#div6 {
  background-color: yellow;
}